<launch>
        <arg name="point_topic" default="/velodyne_points" />
        <arg name="remove_floor" default="true" />
        <arg name="sensor_model" default="64" />
        <arg name="sensor_height" default="1.80" />
        <arg name="max_slope" default="15.0" />
        <arg name="point_distance" default="0.04" />
        <arg name="clipping_thres" default="5.00" />
        <arg name="min_point" default="2" />
        <arg name="gap_thres" default="0.05" />

        <!-- rosrun lidar_tracker ground_filter -->
        <!-- node pkg="ground_filter" type="ground_filter_node" name="ground_filter" launch-prefix="xterm -e run gdbserver localhost:10000" -->
        <!-- node pkg="ground_filter" type="ground_filter_node" name="ground_filter" launch-prefix="gdb -ex run gdbserver localhost:1337" -->
        <node pkg="ground_filter" type="ground_filter_node" name="ground_filter"> 
                <param name="point_topic" value="$(arg point_topic)" />
                <param name="remove_floor" value="$(arg remove_floor)" />
                <param name="sensor_model" value="$(arg sensor_model)" />
                <param name="sensor_height" value="$(arg sensor_height)" />
                <param name="max_slope" value="$(arg max_slope)" />
                <param name="point_distance" value="$(arg point_distance)" />
                <param name="clipping_thres" value="$(arg clipping_thres)" />
                <param name="min_point" value="$(arg min_point)" />
                <param name="gap_thres" value="$(arg gap_thres)" />
        </node>

</launch>
